
body{
    
    box-sizing: border-box;
    text-decoration: none;  
}



#banner{
    background:#694141;
    padding-bottom: px;
    color: white;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    
}

nav{
    background-color:#694141;
    opacity: 1;
   
}
.anav{
    font-size: 15px;
}
#banner h3{
    font-family: OpenSans-Light,AdobeInvisFont,MyriadPro-Regular;
    font-size: 36px;
    text-align: left;
    margin-left: 25px;
}
#banner h1{
    font-family: Play-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 100px;
    text-align: left;
    margin-left: 20px;
}
#banner h2{
    font-family: Play-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 70px;
    text-align: left;
    margin-left: 20px;
}
#banner p{
    font-family: Muli,AdobeInvisFont,MyriadPro-Regular;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
}

#explore{
    
    color: antiquewhite;
    padding-top: 100px;
    color: black;
    
    
}
#explore img{
    margin-left: 20px;
    height: 350px;
    
}
#explore h3{
    font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular;
    text-transform: uppercase;
    font-weight: 1000;
    margin-left: -100px;
}
#explore p{
    margin-left: -100px;
}
#explore a{
    display: inline-block;
    margin-left: -100px;
}
.sp-1{
    color: orangered;

}
#event{
    
    padding-top:50px;
    padding-bottom: 5%;
    color: black;
    background: #F3F3F3;
    
}
#event p{
    color:rgb(105, 97, 97);
    margin-bottom: 20px;
    
}

#event h6{
    color:rgb(105, 97, 97);
    margin-bottom: 100px;
    font-family: Muli,AdobeInvisFont,MyriadPro-Regular;
    
}
#event img{
    min-height: 320px;
    
}

#fot {
    background: #2D2D2D;
    color: #F3F3F3;
    
}


#search-box{
    
    background: #313131;
    padding: 40px 40px;
}
#search-box h6{
    font-family: TitilliumText25L-1wt,OpenSans-Semibold,AdobeInvisFont,MyriadPro-Regular;
    color: #FFFFFF;
}

#search-box .searchbox{
    display: flex;
    justify-content: center;
    
}
#search-box .searchhold{
    width: 270px;
    
}

.social-link{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 10px auto;
}

.asses{
    width: 360px;
    height: 202px;
    margin-top: 100px;
    background:red;
}
#asses{
    
    background: #7A7A7A;
    padding-top: 100px;
    padding-bottom: 116px;
    color: white;
}

#recent-post{
   
    background: rgb(228, 215, 215);
    padding-top: 70px;
    padding-bottom: 70px;    
}
#recent-post h1{
    text-align: center;
}

#agenda{
    
    background: white;
    padding-bottom: 50px;
}
.time1{
    max-width: 150px;
    max-height: 80px;
    border-radius: 45%;
    background-color: rgb(238, 255, 0);
    padding:0 10px ;
}
.time2{
    max-width: 150px;
    max-height: 80px;
    border-radius: 45%;
    background-color: red;
    padding:0 10px ;
}
#nextcustomer{
    
    padding-top: 100px;
    padding-bottom: 110px;
    background:#1C1C1C;
    color: white;
    
}


.getpartner{
    height:50px ;
    width: 320px;
    position: relative;
    border: 1px solid rgba(48, 48, 189, 0.849);
}
.getpartner-clone{
    height:50px ;
    width: 320px;
    position: absolute;
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid rgba(61, 61, 202, 0.849);
    padding-top: 10px;
}



#sponsor{
    
    background:white;
}
#sponsor h1{
    font-family: OpenSans-Light,AdobeInvisFont,MyriadPro-Regular;
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
}
.sp{
    height: 60px;
    border: 1px solid black;
    
}

#larget-event{
    background:#281E9E;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

#larget-event .container{
    width: 600x;
}
.download{
    height:50px ;
    width: 320px;
    position: relative;
    border: 1px solid rgba(219, 219, 236, 0.849);
}
.download-clone{
    height:50px ;
    width: 320px;
    position: absolute;
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid rgba(230, 230, 240, 0.849);
    padding-top: 10px;
}

#speaker{
    
    background:rgba(197, 195, 221, 0.87);
    
    

}
.speaker{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.speak-pic{
       
    min-height: 250px;
    
    margin-bottom: 5px;
    
    
}
.speak-details{
    border: 2px solid indigo;
    height: 45px;
    width: 235px;
    margin-bottom: 5px;
}
#speaker .speak-pic img{
    height: 245px;
    width: 231px;
}
#speaker{
    display: block;
    font-size: 20px;
}

#fot .fotA{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width:767px){
        #search-box{
            background: #413258;

        
    }
#asses{
    background: rgb(101, 128, 187);
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(17, 17, 19, 0.993);
    
    
}
#asses .asses{
    width: 100%;
    height: 280px;
    margin: 0;
    background:rgb(29, 28, 28);
    border-radius: 20px;
    border: 5px solid rgb(60, 58, 167);
}

#recent-post{
   
    background: rgb(29, 5, 117);
    padding-top: 60px;
    padding-bottom: 70px;    
}
#recent-post h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px plum;
}
#recent-post img{
    height: 350px;
}
#recent-post .card{
    background: peru;
    margin-bottom: 25px;
}
#agenda{
    
    background: rgb(2, 0, 0);
    padding-bottom: 50px;
    
}
#agenda .agen{
    background: powderblue;
    border-radius: 10px;
    border: 2px solid rgb(173, 248, 59);
}
#agenda h1{
    color: wheat;
    margin-top: 10px;
}

#nextcustomer{
    
    padding-top: 50px;
    padding-bottom: 50px;
    background:#1C1C1C;
    color: rgb(213, 219, 210);
    
}

#larget-event{
    background:#281E9E;
    color: rgb(229, 226, 226);
    padding-top: 0px;
    padding-bottom: 20px;
}
#larget-event a{
    color: wheat;
    text-decoration: none;
}
#event{
    
    padding-top:px;
    padding-bottom: 5%;
    color: black;
    background: rgb(147, 176, 185);
    
}
#event p{
    color:rgb(248, 247, 247);
    padding-bottom: 0;
    
}

#event h6{
    color:rgb(66, 62, 62);
    margin-bottom: 10px;
    font-family: Muli,AdobeInvisFont,MyriadPro-Regular;
    
}
#event .card{
    background: rgb(50, 205, 63);
    
}

#explore{
    
    color: antiquewhite;
    padding-top: 0px;
    color: black;
    
    
}
#explore img{
    display: none;
    
}
#explore h3{
    font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular;
    text-transform: uppercase;
    font-weight: 1000;
    margin-left: auto;
    text-align: center;
}
#explore p{
    margin-left: auto;
    text-align: center;
}
#explore a{
    display:block;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px ;

}
.anav{
    font-size: 15px;
}
#banner h3{
    font-family: OpenSans-Light,AdobeInvisFont,MyriadPro-Regular;
    font-size: 24px;
    text-align: center;
    margin-left: 25px;
}
#banner h1{
    font-family: Play-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 45px;
    text-align: center;
    
}
#banner h2{
    font-family: Play-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
}
#banner p{
    font-family: Muli,AdobeInvisFont,MyriadPro-Regular;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
}
#speaker img{
  
    width: 100px;
}

}

@media screen and (max-width:991px){
 
#asses{
    background: rgb(101, 93, 105);
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(196, 195, 224, 0.993);
    
    
}
#asses .asses{
    width: 100%;
    height: 280px;
    margin: 0;
    background:rgb(10, 10, 10);
    border-radius: 20px;
    border: 5px solid rgb(60, 58, 167);
}
#explore{
    
    color: antiquewhite;
    padding-top: 0px;
    color: black;
    
    
}


#explore h3{
    font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular;
    text-transform: uppercase;
    font-weight: 1000;
    margin-left: auto;
    text-align: center;
}
#explore p{
    margin-left: auto;
    text-align: center;
}
#explore a{
    display:block;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px ;

}

#event .card{
    background: rgba(197, 190, 190, 0.815);
    
}
#larget-event .getpartnerlink{
    
    color: rgb(207, 201, 201);
}
#larget-event p{
    color: wheat;
}   
#recent-post img{
    height: 350px;
}
#recent-post .card{
    background: teal;
}
#recent-post .card-link{
    background:rgba(223, 218, 218, 0.507);
    border-radius: 5px;
}
}




